{% extends 'bash.html' %}
{% load static %}
{% block main %}
<div class="container">
	<div  class='l6'>
		<div class="col center-align card-panel">
			<form method='POST'>
				{% csrf_token %}
				{% if form.non_field_errors %}
				<div class="row center-align">
					<div class="card-panel blue darken-3 accent-4 white-text">{% for error in form.non_field_errors %} {{ error|escape }}{% endfor %}</div>
				</div>
				{% endif %}
				<!-- <img src={% static "svg/undraw_Confirm.svg" %} alt="svg"> -->

				<div class="row">
					<div class="input-field col s12">
						{{form.username}}
						<label for="{{form.username.id_for_label}}">{{form.username.label_tag}}</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						{{form.password}}
						<label for="{{form.password.id_for_label}}">{{form.password.label_tag}}</label>
					</div>
				</div>

				<div class="row center-align">
					<button type="submit" class="waves-effect waves-light btn-large">
						Login
					</button>
				</div>
			</form>	
		</div>
	</div>
</div>
{% endblock main %}
