<nav class="orange darken-4">
		<div class="nav-wrapper">
			<a href="{% url 'index' %}" class="brand-log"><i class="material-icons">assignment</i></a>
			<a href="#" data-target="sidenav-home" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				{% if user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="sidenav-home">
		<li><div class="user-view">
			<div class="background">
				<img src='{% static "image/background1.jpg" %}'>
			</div>
			<a href="#user"><img class="circle white" src='{% static "svg/undraw_Confirm.svg" %}'></a>
			<a href="#name"><span class="white-text name">John Doe</span></a>
			<a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
		</div></li>
		<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><div class="divider"></div></li>
		<li><a class="subheader">Subheader</a></li>
		<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url 'logout' %}">Logout</a></li>
		<li><a class="dropdown-trigger" href="#!" onclick='$(this).dropdown();' data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
		{% else %}
		<li><a href="{% url 'login' %}">Login</a></li>
		{% endif %}
	</ul>