{% load static %}
<ul class="sidenav" id="sidenav-home">
	<li>
		<div class="user-view">
			<div class="background">
				<img src='{% static "image/background3.jpg" %}'>
			</div>
			<a href="#user"><img class="circle white" src='{% static "svg/undraw_Confirm.svg" %}'></a>
			<a href="#name"><span class="white-text name">{{ user.username }}</span></a>
			<a href="#email"><span class="white-text email">{{ user.email|default:"abc@xyz.com" }}</span></a>
		</div>
	</li>
	<!-- <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
	<li><a href="#!">Second Link</a></li> -->
	<!-- <li><div class="divider"></div></li> -->
	<li><a class="subheader">Welcome {{ user.get_short_name|default:"User" }}</a></li>
	<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
	{% if user.is_authenticated %}
	<li><a href="{% url 'logout' %}" class="waves-effect">Logout</a></li>
	{% else %}
	<li><a href="{% url 'login' %}" class="waves-effect">Login</a></li>
	{% endif %}
</ul>